<mat-toolbar color="primary">
  <span>My App</span>

  <span class="spacer"></span>

  <div class="menu" [matMenuTriggerFor]="menu">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/subscribers/new-subscribe">
        <mat-icon>add</mat-icon>Create Subscriber
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>Logout
      </button>
    </mat-menu>
  </div>

  <div class="links">
    <button
      mat-button
      mat-flat-button
      routerLink="/subscribers/new-subscribe"
      color="primary"
    >
      <mat-icon>add</mat-icon>Create Subscriber
    </button>
    <button mat-button mat-flat-button (click)="logout()" color="primary">
      <mat-icon>logout</mat-icon>Logout
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
